*{
  margin: 0 ;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --color-all: rgba(50, 230, 206, 0.89);
  --bg-color: #FFFFFF;
  --bg-color-index: #BC00DD;
}


a{
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.home-header{
  background-color: var(--color-all);
  display: flex;
  flex-direction: column;
  font-family: 'Teko', sans-serif;
  font-size: 1.5rem;

}

.home-header img {
  max-width: 360px;
}

.home-header nav ul{
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  margin: 5% 0;
}

.button{
  max-width: 210px;
  display: block;
  text-align: center;
  padding: 10px 0 10px 0;
  border: 1px solid var(--bg-color-index);
  border-radius: 44px;
  font-size: 18px;
  color: #FFF;
  font-family: 'Nunito', sans-serif;
  line-height: inherit;
  transition: .3s;
  margin: 0 auto 20px auto;
  background: var(--bg-color-index);
}

.title {
  font-weight: 700;
  font-size: 25px;
  font-family: 'Nunito', sans-serif;
  line-height: 1.2em !important;
  color: var(--bg-color-index);
  margin-top: 0;
  margin-bottom: 25px;
  text-transform: uppercase;
}

.footerGlobal{
  padding: 1rem 0;
  background:  #051120;
}

.footerGlobal img{
  background: #FFF;
  border-radius: 8px;
  display: flex;
}

.devs {
  color: #FFF;
  font-family: 'Titillium Web', sans-serif;
}

.redes{
  padding: 1rem 0;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.redes ul {
  display: flex;
  padding-right: 1rem;
}

.redes ul li + li {
  padding-left: 7px;
}