*{
  margin: 0 ;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

:root{
  --color-all: #ecf8f8;
  --bg-color: #FFFFFF;
  --colorText: black;
  --bg-color-index: #4eb4b8;
}


a{
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.home-header{
  background-color: var(--color-all);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Teko', sans-serif;
  font-size: 1.5rem;

}

.home-header ul li + li{
  padding: 0 1rem;
}

.home-header img {
  max-width: 360px;
}

.home-header nav ul{
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  margin: 5% 0;
}

.button{
  max-width: 210px;
  display: block;
  text-align: center;
  padding: 10px 0 10px 0;
  border: 1px solid var(--bg-color-index);
  border-radius: 44px;
  font-size: 18px;
  color: #FFF;
  font-family: 'Nunito', sans-serif;
  line-height: inherit;
  transition: .3s;
  margin: 0 auto 20px auto;
  background: var(--bg-color-index);
}

.title {
  font-weight: 700;
  font-size: 25px;
  font-family: 'Nunito', sans-serif;
  line-height: 1.2em !important;
  color: var(--bg-color-index);
  margin-top: 0;
  margin-bottom: 25px;
  text-transform: uppercase;
}

.footerGlobal{
  padding: 1rem 0;
  background:  #051120;
}

.footerGlobal img{
  background: #FFF;
  border-radius: 8px;
  display: flex;
}

.devs {
  color: #FFF;
  font-family: 'Titillium Web', sans-serif;
  text-align: center;
}

.redes{
  padding: 1rem 0;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.redes ul {
  display: flex;
  padding-right: 1rem;
}

.redes ul li + li {
  padding-left: 7px;
}




/* Medias query */
@media (min-width: 800px) {
  .home-header{
    z-index: 5;
    width: 100%;
    position: fixed;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
  .home-header img{
    width: 5%;
  }
  .home-header nav ul li + li{
    margin-left: 3rem;
  }

  .redes{
    
    justify-content: space-around;
  }
}


@media (min-width: 1200px) {
    
}

/* Medias query */