.index nav ul li:first-child{
    border-bottom: 1px solid black;
}

body{
    width: 100vw;
    background-color: #495057;
}

@keyframes carrossel {
    0%, 20%{
        transform: translateX(0);
    }
    25%, 45%{
        transform: translateX(300px);
    }
    50%, 70%{
        transform: translateX(600px);
    }
    75%, 100%{
        transform: translateX(900px)
    }
}

.ref{
    background-color: var(--color-all);
    box-shadow: 10px 10px 10px rgba(0,0,0, 1);
    border-radius: 8px;
}


.carrossel-main{
    margin-top: 5%;
    margin-bottom: 5%;
    padding: 2%;
}
.container-carrossel article{
    margin: auto;
    position: relative;
    max-width: 300px; 
    height: 195px;
    overflow: hidden;
    border-radius: 8px;
}

.container-carrossel h1{
    text-align: center;
}


.carrossel-item p{
    overflow: hidden;
    font-family: monospace;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    background-color: var(--bg-color-index);
    color: white;

    position: absolute;
    bottom: 5px;
    border-radius: 8px;
    height: 10%;
    padding: 0 3%;

    margin-left: 20%;
} 

.carrossel-item img{
    width: 300px;  
    height: 195px;
    display: inline-block;
}

.carrossel-item {
    display:block;
    animation: carrossel 10s alternate-reverse infinite;
}


.carrossel-item:first-child {
    position: absolute;
    right: 0;
}

.carrossel-item:nth-child(2) {
    position: absolute;
    right: 300px;
}

.carrossel-item:nth-child(3) {
    position: absolute;
    right: 600px;
}

.carrossel-item:last-child {
    position: absolute;
    right: 900px;
}


/* // services */
.viajar{
    margin: 5% 0;
}

.card{
    display: flex;
    flex-direction:column;
    align-items:center;
    justify-content: center;
}

.card-header{
    display: flex;
    flex-direction:column;
    align-items:center;
    justify-content: center;
}

.card-header button {
    margin-top: -1.5rem;
    margin-left: 70%;
}

.card-header img{
    margin: 2% 0;
    max-width: 97%;
    border-radius: 8px;
}

.card-content{
    width: 100%;
    display: flex;
    flex-direction:column;
    justify-content: space-around;
    align-items: center;
    font-family: 'Teko', sans-serif;

}


.btn-service{
    background: var(--bg-color-index);
    color: white;
    border: 0;
    border-radius: 8px;
    padding: .5rem 1rem;
    cursor: pointer;
}

.black-area{
    font-weight: bold;

    
}

.price{
    text-align: center;
    width: 100%;
}


.price h3{
    margin-top: .5rem;
    font-size: 1rem;
    font-weight: 300;
    color:gray;
}

.price h1{
    font-weight: 900;
    padding: 1rem 0;

}

.price h1 span {
    font-size: 1rem;
}

.price p {

    padding: 2rem 1rem;
    text-align: center;
    border-top: 1px solid gray;
    border-radius: 6px;
}

/* Sobre_resumo */
#sobre_resumo{
    border-radius: 8px;
    background-image: linear-gradient(#e0e0e0, var(--bg-color), #e0e0e0);
    box-shadow: 3px 3px 3px rgba(0,0,0,0.2);
    margin: 2rem 0;
    margin-top:4rem;
    padding-bottom: 3rem;
}

#sobre_resumo p {
    margin: 0 auto 1rem;
    max-width: 60%;
}

#sobre_resumo h2, p {
    text-align: center;
}
.text {
    text-align: justify;
    padding:0 5px;
    font-weight: 400;
    font-size: 16px;
    font-family: 'Nunito', sans-serif;
    line-height: 1.2em;
    color: #949494;
    margin: 0 0 20px 0;
}
/* Sobre_resumo */

/* Servicos */
.viajar{
    max-width: 100%;
    padding: 1rem;
    transition: all 0.4s;
}
.viajar:hover{
    transform: scale(1.15);

}

.servicos_container{
    display: flex;
    flex-wrap: wrap;
    align-items:center;
    justify-content: center;
      
}

.servico_item{
    background-color: var(--bg-color);
    border-radius: 8px;
    text-align: center;
    padding: 5px;
    margin: 5px 10px;
    box-shadow: 5px 5px 5px rgba(0,0,0, 0.3);
}

.servico_item img, .servico_item p{
    max-width: 110px;
    font-size: 10px; 
}

.title {
    text-align: center;
    color: #6b705c!important;
}

/* Servicos */

/* Mapa */
#mapa {
    margin: 2rem 0;
    display: flex;
    flex-direction: column;
    align-items:center;
    
}

#mapa h2{
    color: var(--bg-color-index)!important;
}

#mapa div iframe{
    padding:0 1rem;
    width: 100vw;
}

/* Mapa */



/* Medias query */
@media (min-width: 800px) {
    .carrossel-item p{
        overflow: hidden;
        font-family: monospace;
        font-size: 2rem;
        font-weight: bold;
        text-align: center;
        background-color: var(--bg-color-index);
        color: white;
    
        position: absolute;
        bottom: 5px;
        border-radius: 8px;
        height: 6%;
    
        max-width: 90%;
        margin-left: 10%;
    } 
   /* Carrossel */
    @keyframes carrossel {
        0%, 20%{
            transform: translateX(0);
        }
        25%, 45%{
            transform: translateX(980px);
        }
        50%, 70%{
            transform: translateX(1960px);
        }
        75%, 100%{
            transform: translateX(2940px)
        }
    }

    .container-carrossel{
        margin: 10%;
        padding: 5% 0;
    }

    .container-carrossel article{
        position: relative;
        max-width: 980px; 
        height: 450px;
        overflow: hidden;
        border-radius: 8px;
    }

    .container-carrossel h1{
        text-align: center;
    }


    .carrossel-item p{
        text-align: center;
        background-color: var(--bg-color-index);
        color: white;
        position: absolute;
        bottom: 5px;
        left: 4px;
        border-radius: 8px;
        width: 100%;
    } 

    .carrossel-item img{
        width: 980px; 
        height: 450px;
        display: inline-block;
    }

    .carrossel-item {
        display:block;
        animation: carrossel 10s alternate-reverse infinite;
    }


    .carrossel-item:first-child {
        position: absolute;
        right: 0;
    }

    .carrossel-item:nth-child(2) {
        position: absolute;
        right: 980px;
    }

    .carrossel-item:nth-child(3) {
        position: absolute;
        right: 1960px;
    }

    .carrossel-item:last-child {
        position: absolute;
        right: 2940px;
    }
    /* Carrossel */

    /* Cards  */
    main {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .viajar {
        max-width: 40%;
    }
   

    /* Cards  */

    /* Resumo  */
    .text{
        text-align: center;
    }
    /* Resumo  */

    /* Servicos */
    .servico_item {
        display: flex;
        flex-direction: column;
        align-items:center;
        max-width: 25%;
    }
    .servico_item img {
        max-width: 100%;
    }
    
    /* Servicos */

    /* mapa */
    #mapa{
        display: inline-block;
    }

    #mapa div iframe{
        max-width: 100%;
    }
    /* mapa */
}

/* Media  */

@media (min-width: 1200px) {
    /* Carrossel  */
    
    
    .carrossel-main{
        background: var(--color-all);
        max-width: 70%;
        margin: 100px auto;
    }

    @keyframes animationTypography { from{opacity: 1} to{opacity: 0.5}}
    .teste{
        animation: animationTypography 5s alternate-reverse infinite;
        font-size: 4rem;
    }

    

    
    
    
    
    
    
    
    @keyframes carrossel {
        0%, 20%{
            transform: translateX(0);
        }
        25%, 45%{
            transform: translateX(1200px);
        }
        50%, 70%{
            transform: translateX(2400px);
        }
        75%, 100%{
            transform: translateX(3600px)
        }
    }


    .container-carrossel{
        margin: 2% 15% 5%;
        padding: 5% 0;
    }

    .container-carrossel article{
        position: relative;
        max-width: 1200px; 
        height: 600px;
        overflow: hidden;
        border-radius: 8px;
    }

    .container-carrossel h1{
        text-align: center;
    }


    .carrossel-item p{
        text-align: center;
        background-color: var(--bg-color-index);
        color: white;
        position: absolute;
        bottom: 4px;
        left: 4px;
        border-radius: 8px;
        width: 100%;
    } 

    .carrossel-item img{
        width: 1200px; 
        height: 600px;
        display: inline-block;
    }

    .carrossel-item {
        display:block;
        animation: carrossel 10s alternate-reverse infinite;
    }


    .carrossel-item:first-child {
        position: absolute;
        right: 0;
    }

    .carrossel-item:nth-child(2) {
        position: absolute;
        right: 1200px;
    }

    .carrossel-item:nth-child(3) {
        position: absolute;
        right: 2400px;
    }

    .carrossel-item:last-child {
        position: absolute;
        right: 3600px;
    }
    /* Carrossel  */
    /* Cards  */
    main {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .viajar {
        max-width: 20%;
    }


    /* Cards  */
     /* Servicos */
     .servico_item {
        display: flex;
        flex-direction: column;
        max-width: 15%;
    }
    .servico_item img {
        max-width: 100%;
    }
    
    /* Servicos */ 



}

/* Medias query */