.index nav ul li:first-child{
    border-bottom: 1px solid black;
}

body{
    width: 100vw;
    background-color: #E0E0E0;
}

@keyframes carrossel {
    0%, 20%{
        transform: translateX(0);
    }
    25%, 45%{
        transform: translateX(300px);
    }
    50%, 70%{
        transform: translateX(600px);
    }
    75%, 100%{
        transform: translateX(900px)
    }
}

.ref{
    background-color: var(--bg-color);
    box-shadow: 10px 10px 10px rgba(0,0,0, 1);
    border-radius: 8px;
}


.container-carrossel{
   margin: 10% 3%;
   padding: 5% 0;
}

.container-carrossel article{
    position: relative;
    max-width: 100%; 
    height: 195px;
    overflow: hidden;
    border-radius: 8px;
}

.container-carrossel h1{
    text-align: center;
}


.carrossel-item p{
    text-align: center;
    background-color: var(--bg-color-index);
    color: white;
    position: absolute;
    bottom: 5px;
    left: 4px;
    border-radius: 8px;
    width: 95%;
} 

.carrossel-item img{
    width: 300px;  
    height: 195px;
    display: inline-block;
}

.carrossel-item {
    display:block;
    animation: carrossel 10s alternate-reverse infinite;
}


.carrossel-item:first-child {
    position: absolute;
    right: 0;
}

.carrossel-item:nth-child(2) {
    position: absolute;
    right: 300px;
}

.carrossel-item:nth-child(3) {
    position: absolute;
    right: 600px;
}

.carrossel-item:last-child {
    position: absolute;
    right: 900px;
}


/* // services */
#services{
    margin: 5% 0;
}

.card{
    display: flex;
    flex-direction:column;
    align-items:center;
    justify-content: center;
}

.card-header{
    display: flex;
    flex-direction:column;
    align-items:center;
    justify-content: center;
}

.card-header button {
    margin-top: -1.5rem;
    margin-left: 70%;
}

.card-header img{
    margin: 2% 0;
    max-width: 97%;
    border-radius: 8px;
}

.card-content{
    width: 100%;
    display: flex;
    flex-direction:column;
    justify-content: space-around;
    align-items: center;
    font-family: 'Teko', sans-serif;

}


.btn-service{
    background: var(--bg-color-index);
    color: white;
    border: 0;
    border-radius: 8px;
    padding: .5rem 1rem;
}

.black-area{
    font-weight: bold;

    
}

.price{
    text-align: center;
    width: 100%;
}


.price h3{
    margin-top: .5rem;
    font-size: 1rem;
    font-weight: 300;
    color:gray;
}

.price h1{
    font-weight: 900;
    padding: 1rem 0;

}

.price h1 span {
    font-size: 1rem;
}

.price p {

    padding: 2rem 1rem;
    text-align: center;
    border-top: 1px solid gray;
    border-radius: 6px;
}

/* Sobre_resumo */
#sobre_resumo{
    border-radius: 8px;
    background-image: linear-gradient(#e0e0e0, var(--bg-color), #e0e0e0);
    box-shadow: 3px 3px 3px rgba(0,0,0,0.2);
    margin: 2rem 0;
    margin-top:4rem;
    padding-bottom: 3rem;
}


#sobre_resumo h2, p {
    text-align: center;
}
.text {
    font-weight: 400;
    font-size: 18px;
    font-family: 'Nunito', sans-serif;
    line-height: 1.2em;
    color: #949494;
    margin: 0 0 20px 0;
}
/* Sobre_resumo */

/* Servicos */
#servicos{
    max-width: 100%;
    padding: 1rem;
}
.servicos_container{
    display: flex;
    flex-wrap: wrap;
      
}

.servico_item{
    background-color: var(--bg-color);
    border-radius: 8px;
    text-align: center;
    padding: 5px;
    margin: 5px 10px;
    box-shadow: 5px 5px 5px rgba(0,0,0, 0.3);
}

.servico_item img, .servico_item p{
    max-width: 110px;
    font-size: 10px; 
}

.title {
    text-align: center;
    color: #fe6f20!important;
}

/* Servicos */

/* Mapa */
#mapa {
    margin: 2rem 0;
}

#mapa h2{
    color: var(--bg-color-index)!important;
}

#mapa div iframe{
    max-width: 320px;
}

/* Mapa */