.index nav ul li:first-child{
    border-bottom: 1px solid black;
}

body{
    width: 100vw;
    background-color: #E0E0E0;
}

@keyframes carrossel {
    0%, 20%{
        transform: translateY(0);
    }
    25%, 45%{
        transform: translateY(-195px);
    }
    50%, 70%{
        transform: translateY(-390px);
    }
    75%, 100%{
        transform: translateY(-585px)
    }
}

.ref{
    background-color: var(--bg-color);
    box-shadow: 10px 10px 10px rgba(0,0,0, 1);
    border-radius: 8px;
}


.container-carrossel{
   margin: 10% 3%;
   padding: 10% 2%;
}

.container-carrossel article{
    border: 1px solid black;
    position: relative;
    width: 312px; 
    height: 195px;
    overflow: hidden;
    border-radius: 8px;
}

.container-carrossel h1{
    text-align: center;
}


.carrossel-item img{
    max-width: 100%;  
    height: 195px;
    display: inline-block;
}
.carrossel-item h3{
    text-align: center;
    margin-top: -100px;
    color: white;
}


.carrossel-item {
    display:block;
    animation: carrossel 10s alternate-reverse infinite;
}


.carrossel-item:first-child {
    position: absolute;
    top: 0;
}

.carrossel-item:nth-child(2) {
    position: absolute;
    top: 195px;
}

.carrossel-item:nth-child(3) {
    position: absolute;
    top: 390px;
}

.carrossel-item:last-child {
    position: absolute;
    top: 585px;
}


/* // services */
#services{
    margin: 5% 0;
}

.card{
    display: flex;
    flex-direction:column;
    align-items:center;
    justify-content: center;
}

.card-header{
    display: flex;
    flex-direction:column;
    align-items:center;
    justify-content: center;
}

.card-header button {
    margin-top: -1.5rem;
    margin-left: 70%;
}

.card-header img{
    margin: 2% 0;
    max-width: 97%;
    border-radius: 8px;
}

.card-content{
    width: 100%;
    display: flex;
    flex-direction:column;
    justify-content: space-around;
    align-items: center;
    font-family: 'Teko', sans-serif;

}


.btn-service{
    background: #BC00DD;
    color: white;
    border: 0;
    border-radius: 8px;
    padding: .5rem 1rem;
}

.black-area{
    font-weight: bold;

    
}

.price{
    text-align: center;
    width: 100%;
}


.price h3{
    margin-top: .5rem;
    font-size: 1rem;
    font-weight: 300;
    color:gray;
}

.price h1{
    font-weight: 900;
    padding: 1rem 0;

}

.price h1 span {
    font-size: 1rem;
}

.price p {

    padding: 2rem 1rem;
    text-align: center;
    border-top: 1px solid gray;
    border-radius: 6px;
}